html, body {
    margin: 0;
    height: 100%;
}

.header {
    grid-area: header;
    background-color: black;
    color: white;
}

.main {
    grid-area: main;
    background-color: aqua;
}

.footer {
    grid-area: footer;
    background-color: brown;
    color: white;
}

.grid-container {
    display: grid;
    min-height: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: 100px auto 100px;
    grid-template-areas: 
    "header header header"
    ". main ."
    "footer footer footer"
    ;
}

.navbar {
    
}

.ul-navbar {
    list-style-type: none;
    margin: 15px;
    padding: 0;
}

.li-navbar {
    display: inline;
}